<div id="wrapper" class="container">
    <div id="leftForm" class="col-md-4">

   </div>
   <div id="mainForm" class="col-md-4">
       <form action="/send" method="GET" id="frmSender">
            <label for="cmbUser">Usuario</label>
            <select class="form-control" name="user" id="cmbUser">
              
            </select>
            <br>
            <label for="txtMessage">Mensaje</label>
            <br>
          <textarea class="form-control" name="message" id="txtMessage" cols="30" rows="10"></textarea>
          <br>
          <button style="float:right;" type="submit" class="btn btn-default">Enviar</button>
       </form>
   </div>
   <div id="rightForm" class="col-md-4">

   </div>

</div>